# Database connection string (Native Local PostgreSQL or Cloud Postgres like Neon/Supabase/Railway)
DATABASE_URL="postgresql://postgres@localhost:5434/collegedb?schema=public"

# JWT Secret for authenticating users
JWT_SECRET="college_discovery_jwt_super_secret_key_change_in_production_32char"

# Application URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
